
/*root colors*/
.bg-blues{
    background-color: #0e3c47;
}


html, body{
    
    color: white;
    background-color: #21232A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 3vw; 
}

button{
   
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px;
    
}

input{
    color:#21232A;
    font-size: 1.2rem;
    width: 100%;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{

    align-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 0 5px 10px 5px;
    min-width: 305.8px;
    overflow: hidden;
    padding: 10px;
    width: 334px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    max-height: 170px;
}

h3{
  width: 85vw!important;
}

ol, ul {
    padding-left: 0;
}

ol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 620px) {
  .contain{
    flex-direction: column!important;
  }
  h3{
    width: 93vw!important;
  }
}

/*
* Class buttons select
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  line-height: 1.2;
}
body {
  
  font-size: 16px;
}
.selected-item {
  margin: 20px 0;
  text-align: center;
}
.selected-item p {
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 3px;
}
.selected-item p span {
  font-weight: bold;
}
/* dropdown list */
.dropdown {
  margin: 20px auto;
  width: 300px;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
          z-index: 9999;
}
.dropdown.active .selLabel:after {
  content: '\25B2';
}
.dropdown.active .dropdown-list li:nth-child(1) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.dropdown.active .dropdown-list li:nth-child(2) {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}
.dropdown.active .dropdown-list li:nth-child(3) {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}
.dropdown.active .dropdown-list li:nth-child(4) {
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
}
.dropdown > span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background: #34495e;
  display: block;
  padding: 0 50px 0 30px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown > span:after {
  content: '\25BC';
  position: absolute;
  right: 0px;
  top: 15%;
  width: 50px;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  height: 70%;
  line-height: 24px;
  border-left: 1px solid #ddd;

}
.dropdown > span:active {
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
}
.dropdown > span:active:after {
  content: '\25B2';
}
.dropdown-list {
  position: absolute;
  top: 0px;
  width: 100%;
}
.dropdown-list li {
  display: block;
  list-style: none;
  left: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown-list li:nth-child(1) {
  background-color: #1abc9c;
  z-index: 4;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.dropdown-list li:nth-child(2) {
  background-color: #3498db;
  z-index: 3;
  -webkit-transform: translateY(3%);
          transform: translateY(3%);
}
.dropdown-list li:nth-child(3) {
  background-color: #9b59b6;
  z-index: 2;
  -webkit-transform: translateY(6%);
          transform: translateY(6%);
}
.dropdown-list li:nth-child(4) {
  background-color: #e67e22;
  z-index: 1;
  -webkit-transform: translateY(9%);
          transform: translateY(9%);
}
.dropdown-list li span {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  font-size: 18px;
  line-height: 60px;
  padding: 0 30px;
  display: block;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}


/*
* FOOTER CSS
*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media screen and (max-width: 762px) {
  .footer-links .btn {
    position: absolute;
    margin-left: 24vw;
  }
  .contain{
    margin-bottom: 10px;
  }
}
